* {
  margin: 0;
  padding: 0;
}


.ui.card.main-container {
  margin: 0 auto;
  color: #fff;
  padding: 3%;
  background: linear-gradient(
    to right,
    #013d5fb2,
    #f0c17b00
  ); 
  box-shadow: 0 0 15px 10px #1414145d;
  margin-bottom: 10%;
}

.content {
  width: 100%;
  font-size: 18px;
  list-style-type: none;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 10px;
}
.music-btn{
  background-color: #4b124800  !important;
 
  font-size: 12px !important;
}
.music-btn:hover{
  color: #4b124836 !important ;
  border-color: rgba(238, 130, 238, 0);
}
.item{
  display: -webkit-inline-box
}
.content:hover {
  cursor: pointer;
}
.button-container {
  height: 30px;
  text-align: center;
  color: #000;
}
.current-song{
  font-size: 17px;
  height: 20px;
}
.ui.avatar.image{
  height: 20px;
  width: 20px;
  border-radius: 50%;

}

.header {
  text-align: center;
  color: wheat;
  font-size: 20px;
}
.info-container {
  text-align: center;
  font-size: 20px;
}

.current-song {
  font-size: 14px;
}

.playlist {
  margin-left: 12%;
}
